@import "../../core/styles/calendar.less";

//////////////////////////////
// Calendar colors and fonts
//////////////////////////////

@highlight1: #1a405f;
@highlight2: #337bae;
@accentfont: avenir;

/* =====================================================================
   CUSTOM CALENDAR STYLES
   ===================================================================== */

#lw_cal {
  .clearfix;
}

// Day/Week/Month selector
#lw_cal_view_selector {
  width: 100%;
  margin-top: 20px;

  // View all
  li.all {
    float: left;
  }
}

.lw_cal_event_view.lw_cal_has_hero {
  margin-top: 10px;
}

#lw_cal_hero {
  left: 0;
  right: 0;
}

// Calendar header
#lw_cal_header {
  margin-bottom: 0;
}

#lw_cal_header,
#lw_cal_events,
.lw_cal_event_view #lw_cal_events {
  padding-left: 20px;
  padding-right: 20px;
}

// Event Date
#lw_cal_events h3,
#lw_cal_events h4 {
  margin-top: 0;
  margin-bottom: 0;
}


// Box around events
.lw_cal_day_view .lw_cal_event_list .lw_cal_event,
.lw_cal_today_view .lw_cal_event_list .lw_cal_event,
.lw_cal_week_view .lw_cal_event_list .lw_cal_event,
.lw_cal_all_view .lw_cal_event_list .lw_cal_event {
    margin-bottom: 18px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 9px;
}

#lw_cal_events .lw_cal_upcoming_events h4 {

  &,
  & * {
    color: @mid-gray;
  }
}

#lw_cal_events .lw_cal_event_list .lw_events_title {
  font-size: 1.45em;
  margin-top: 10px;
}

.lw_events_summary {
  &,
  & * {
    font-size: 1em;
  }
}

.lw_cal_event_list .lw_item_thumb {
  border: 1px solid #e0e0e0;
}

#lw_cal_events .lw_cal_event_list .lw_events_time {
  margin-bottom: 5px;
}

#lw_cal_today_facts p:last-child {
  white-space: normal;
}

.lw_cal_week_view #lw_cal_events h3 span,
.lw_cal_all_view #lw_cal_events h3 span {
  color: @white;
}

#lw_cal_view_selector li a:hover span,
#lw_cal_view_selector li.active a span {
  color: @white;
}

.body_calendar .page_title {
  margin-top: 0;
}

.body_calendar #lwc_right h4 {
  margin-right: 0.5em;
}

#lw_cal_search_form + .lw_search_icon {
  display: none;
}

#lw_cal_scroll_links {
  top: 17px;
}

// Style calendar buttons like form buttons
#event_options {
  .lw_cal_event_edit,
  #lw_cal_add_to_calendar {
    border-radius: 0;
    border: none;
    overflow: visible;

    a {
      padding: 4px 7px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-decoration: none;

    	&:active {
        -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
      	position: relative;
      	bottom: -1px;
        outline: none;
    	}
    }

    .icon-edit {
      color: @white;
    }
  }
}
